body {
    font-family: "Lato", sans-serif;
}

#poster {
    height:150px;
}

#posterfull {
    height:270px;
}

#logo {
    width: 25%;
    border-radius: 50%;
}

form {
    border: 3px solid #f1f1f1;
}

h2 {
    text-align: center;
}

input[type=text], input[type=password] {
    width: 400px;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color:  #111;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.container {
    text-align: center;
    padding: 16px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

a:hover {
    color: black;
}

 /* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: darkslategrey;
}

/* selected link */
a:active {
    color: black;
} 

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#searchInput {
    /*background-image: url('/style/images/searchicon.png'); /* Add a search icon to input */
    background-position: 0px -25px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 17px; /* Increase font-size */
    padding: 12px 12px 12px 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 20px; /* Add some space below the input */
    margin-top: 10px;
}

#filmTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 17px; /* Increase font-size */
}

.button {
    display: block;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: #818181;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#filmTable th, #filmTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#filmTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#filmTable tr.header, #filmTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}